#images {
  height: 50vh;
}
.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}
#review {
  height: 40vh;
  border-radius: 50%;
}
#forms {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
#formulario {
  width: 40%;
  align-items: center;
  justify-content: center;
}
#button {
  margin-top: 5vh;
}
.titulo {
  margin-left: 10vw;
}
